*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

header {
    padding: 10px;
    bottom: 10px;
    .logo-holder {
        .logo {

        }
        .logo-text {

        }
    }

    nav {
        
    }
}